---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout title="IKAR Journal - Logs">
    <main class="flex-grow max-w-7xl w-full mx-auto px-6 py-12 md:px-12">
        <div class="space-y-4 mb-12 border-b-2 border-primary/20 pb-8">
            <h1 class="text-3xl md:text-5xl uppercase tracking-tight text-primary brand-font">Mission Logs</h1>
            <p class="text-sm text-black/70 max-w-2xl font-mono">
                > Follow our progress here. 
            </p>
            <p class="text-sm text-black max-w-2xl font-mono">
                > </b> <b style="color:red;">SAFETY FIRST!</b> </b> Even though we aim to conduct every test with the highest possible safety standards, <b style="color:red;">NEVER COPY WHAT WE DO!</b> <b>We are just high school students! Ensure the highest safety standards when doing anything related to rocketry and always follow the local laws!</b>
            </p>
        </div>

        <div class="grid grid-cols-1 gap-8">
            {posts.map(p => (
                <PostCard 
                    title={p.data.title}
                    body={p.body.slice(0, 150) + "..."}
                    category={p.data.category}
                    date={p.data.date}
                    readTime={p.data.readTime}
                    author={p.data.author}
                    initials={p.data.initials}
                    url={`/journal/${p.slug}`}
                />
            ))}
        </div>
    </main>
</Layout>
